@model IEnumerable<AspAdminTemplate.Models.ApplicationRole>

@{
    ViewData["Title"] = "Index";
}

<section class="section">
    <div class="section-header">
        <h1>Liste des Rôles</h1>
    </div>

    <div class="section-body">
        <h2 class="section-title">Liste des Rôles</h2>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-relative">
                        @*<div class="card-header-form card-relative width-card">
                            <a asp-action="Create" class="btn btn-primary">Create a role</a>
                        </div>*@

                        <div class="card-header-action width-card text-right">
                            <div class="dropdown d-inline mr-2">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dowload Backup
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick="window.location='@Url.Action("Backup")'">SQL file</a>
                                    <a class="dropdown-item" href="#" onclick="window.location='@Url.Action("BackupPDF")'">PDF file</a>
                                    <a class="dropdown-item" href="#" onclick="window.location='@Url.Action("BackupCSV")'">CSV file</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Users</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td i-role="@item.Id"></td>
                                        <td>
                                            <div class="btn-group mb-3" role="group" aria-label="Basic example">
                                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Update</a>
                                                @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>